# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode

/infrastructure/prom_data/
/backend/postgres_data/
/backend/redis_data/

# **environment**
.env
.env.example

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### dataset ###
/data-service/data/*.csv
/data-service/data/*.parquet
/
### venv ###
/data-service/venv311/*
/weaviate_data/*
# Local History for Visual Studio Code
.history/
.idea
# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

.vscode
.claude

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
